@{
    ViewData["Title"] = "Об игре";
}

<h1 class="about__title title">Об игре</h1>
<div class="about__content">
    <p class="about__content-item">Игра марио</p>
    <p class="about__content-item">Выполнена студентом 341 группы Шеповаловым Даниилом</p>
    <p class="about__content-item">Правила игры:</p>
    <ul class="about__content__list">
        <li class="about__content__list-item">
            Первое правило
        </li>
        <li class="about__content__list-item">
            Второе правило
        </li>
        <li class="about__content__list-item">
            Третье правило
        </li>
        <li class="about__content__list-item">
            Четвертое правило
        </li>
        <li class="about__content__list-item">
            Пятое правило
        </li>
    </ul>
</div>