@{
    ViewData["Title"] = "Домашняя страница";
}

<h1 class="title">Домашняя страница</h1>
<div class="home__content">
    <h3 class="home__title">
        Браузерная игра "Марио" Выполнена студентом 341 группы Шеповаловым Даниилом.
    </h3>
    <div class="home__how">
        <span class="home__how-subtitle">Как начать:</span>
        <ol class="home__how__list">
            <li class="home__how__list-item">
                Зарегистрироваться в системе / войти в аккаунт, выбрав соответствующий раздел в шапке сайта - это необходимо для сохранения результатов вашей игры.
            </li>
            <li class="home__how__list-item">
                Нажать на кнопку "Игра" в шапке сайта.
            </li>
        </ol>

        <span class="home__how-subtitle">Как играть:</span>
        <ol class="home__how__list">
            <li class="home__how__list-item">
                У тебя есть 3 жизни, которые тратятся при смерти основного персонажа.
            </li>
            <li class="home__how__list-item">
                Бегующие враги могут убить (не наступай на них).
            </li>
            <li class="home__how__list-item">
                В ямы пргать не стоит (потеряешь жизнь).
            </li>
            <li class="home__how__list-item">
                Дойди до конца, сохранив хотя бы 1 жизнь и увидишь заветное окошко с победой.
            </li>
        </ol>

        <span class="home__how-subtitle">Результаты:</span>
        <ol class="home__how__list">
            <li class="home__how__list-item">
                Игрок считается победителем в конкретной игре, если: дошел до конца уровня с сохранением как минимум 1 жизни и не завершил угру досрочным выходом <br>(покиданием страницы приложения или переходом на другую страницу приложения)
            </li>
            <li class="home__how__list-item">
                Игрок считается проигравшим, если в ходе игры потерял все доступные жизни.
            </li>
            <li class="home__how__list-item">
                Расчет результата происходит по количеству горизонтально проскроленных пикселей, где минимум - 301px - падение в первую яму и максимум - 7900px - полное прохождение уровня.
            </li>
        </ol>
        <span class="home__how-subtitle home__good-luck">Приятной игры!</span>
    </div>
</div>